@font-face {
  font-family: "Bungee Inline";
  src: url(../fonts/BungeeInline-Regular.ttf);
}

:root {
  /* 最後の部署名 */
  --text_size_ex_large: 48px;
  /* 質問文 */
  --text_size_large: 30px;
  /* yes,no,chart,start */
  --text_size_medium: 26px;
  /* 最後の部署説明 */
  --text_size_small: 16px;
}

html,
body {
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  /* height: 100vh; */
  width: 100vw;
  background: linear-gradient(180deg, #f4f19d 0%, #dd54aa 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.topicon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  margin-top: 25%;
}

.top-image {
  width: 80%;
  height: 80%;
}

.start-button {
  width: 200px;
  height: 65px;
  background-color: #000000;
  border-radius: 73px;
  border: 2.4px solid #ffffff;
  box-shadow: 0px 0.974886px 9.74886px #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Bungee Inline";
  font-size: var(--text_size_medium);
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0px 0.974886px 9.74886px #ffffff;
}

/* .start-button-text{

} */

.border-list {
  filter: drop-shadow(0px 0.974886px 1.5px #ffffff);
}

.dli-chevron-round-right {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  line-height: 1;
  position: relative;
  width: 18px;
  height: 18px;
  transform: translateX(-25%) rotate(45deg);
  filter: drop-shadow(0px 0.974886px 9.74886px #ffffff);
}
.dli-chevron-round-right::before,
.dli-chevron-round-right::after {
  content: "";
  position: absolute;
  background: currentColor;
  border-radius: 0.1em;
}
.dli-chevron-round-right::before {
  top: 0;
  left: 0;
  right: 0;
  height: 0.1em;
}
.dli-chevron-round-right::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.1em;
}

.left {
  margin: 0 0 0 -15px;
}

.right {
  margin: 0 -15px 0 0;
}

.question-background {
  height: 100vh;
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
}

.foundation {
  position: relative;
  width: 340px;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.foundation-back {
  position: absolute;
  width: 340px;
  height: 80vh;
  z-index: 1;
}

.foundation-back-1 {
  position: absolute;
  width: 340px;
  height: 80vh;
  background-color: #999999;
  filter: blur(2px);
  border-radius: 15px;
  z-index: 1;
}
.foundation-back-2 {
  position: absolute;
  width: 340px;
  height: 80vh;
  /* background-color: #999999; */
  border: 3px solid #e2e3df;
  filter: blur(2px);
  border-radius: 15px;
  z-index: 2;
}
.foundation-back-3 {
  position: absolute;
  width: 340px;
  height: 80vh;
  /* background-color: #999999; */
  border: 3px solid #ffffff;
  border-radius: 15px;
  z-index: 3;
}

.flex-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10vh;
}

.foundation-title {
  position: relative;
  z-index: 2;
  width: 260px;
  height: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foundation-title-1 {
  position: absolute;
  z-index: 1;
  width: 260px;
  height: 50px;
  background: rgba(3, 3, 3, 0.5);
  mix-blend-mode: hard-light;
  border: 2.95px solid #cc00ff;
  filter: blur(4.5px);
  border-radius: 10px;
}
.foundation-title-2 {
  position: absolute;
  z-index: 2;
  width: 260px;
  height: 50px;
  background: rgba(3, 3, 3, 0.5);
  mix-blend-mode: hard-light;
  border: 3.55px solid #cc00ff;
  filter: blur(1.5px);
  border-radius: 10px;
}
.foundation-title-3 {
  position: absolute;
  z-index: 3;
  width: 260px;
  height: 50px;
  background: rgba(3, 3, 3, 0.5);
  mix-blend-mode: hard-light;
  border: 1.5px solid rgba(97, 0, 255, 0.2);
  box-shadow: 0px 3px 3.9px #8300c1, 0px 1.95px 1.5px rgba(14, 0, 21, 0.7),
    inset -0.195px 0.39px 0.195px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.foundation-title-4 {
  position: absolute;
  z-index: 4;
  width: 260px;
  height: 50px;
  background: rgba(3, 3, 3, 0.5);
  border: 2.2px solid #c882ff;
  filter: blur(0.15px);
  border-radius: 10px;
}
.foundation-title-5 {
  position: absolute;
  z-index: 5;
  width: 260px;
  height: 50px;
  border: 2px solid #ffffff;
  filter: blur(0.1px);
  border-radius: 10px;
}
.foundation-title-text {
  position: absolute;
  z-index: 6;
  /* left: 0;
  right: 0;
  margin: 0 auto; */
  text-align: center;
  font-family: "Bungee Inline";
  font-size: var(--text_size_medium);
  color: #ffffff;
}

.foundation-circle {
  width: 270px;
  height: 270px;
  position: relative;
  /* margin: auto;
  margin-top: 15vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.foundation-circle-1 {
  position: absolute;
  width: 260px;
  height: 260px;
  mix-blend-mode: hard-light;
  border-radius: 50%;
  border: 5px solid #fbffe7;
  filter: blur(5.625px);
  z-index: 1;
}
.foundation-circle-2 {
  position: absolute;
  width: 260px;
  height: 260px;
  border: 2.25px solid #ffffff;
  border-radius: 50%;
  filter: blur(0.375px);
  z-index: 2;
}
.question-text {
  position: absolute;
  z-index: 3;
  font-size: var(--text_size_large);
  font-family: "Helvetica";
  color: #ffffff;
}

.answer-button {
  position: relative;
  width: 145px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 7;
  margin-bottom: 10%;
  /* border: #8300c1; */
}

.yesbutton {
  position: relative;
  width: 145px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yesbutton-1 {
  position: absolute;
  width: 145px;
  height: 50px;
  background: rgba(249, 245, 146, 0.5);
  border-width: 3px 0px;
  border-style: solid;
  border-color: #fff500;
  box-shadow: 0px 0px 10px #fff500;
  border-radius: 5px;
  z-index: 1;
}
.yesbutton-2 {
  position: absolute;
  width: 145px;
  height: 48px;
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 5px;
  z-index: 2;
}
.yesbutton-text {
  position: absolute;
  font-family: "Bungee Inline";
  font-size: var(--text_size_medium);
  color: #ffffff;
  z-index: 3;
}

.nobutton {
  position: relative;
  width: 145px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nobutton-1 {
  position: absolute;
  width: 145px;
  height: 50px;
  background: rgba(213, 83, 165, 0.5);
  border-width: 3px 0px;
  border-style: solid;
  border-color: #ff00a1;
  box-shadow: 0px 0px 10px #ff00a1;
  border-radius: 5px;
}
.nobutton-2 {
  position: absolute;
  width: 145px;
  height: 48px;
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 5px;
}
.nobutton-text {
  position: absolute;
  font-family: "Bungee Inline";
  font-size: var(--text_size_medium);
  color: #ffffff;
  z-index: 3;
}

.button-selector {
  position: absolute;
  width: 0;
  height: 0;
  left: 15px;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13px;
  border-color: transparent transparent transparent #ffffff;
  z-index: 4;
  /* text-align: left; */
}

.p-center {
  text-align: center;
}

.color-change {
  transition: 0.5s;
  background-color: #131313;
}

.last {
  position: relative;
  width: 340px;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.last-background {
  height: 100vh;
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
}

.img-size {
  position: absolute;
  z-index: 4;
  /* width: 100%; */
  height: 70%;
}
.imgin-1 {
  position: relative;
  height: 72%;
  width: 85%;
  background-image: url(../images/chart-img/exterior_leader.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: brightness(40%); */
  /* opacity: 0.4; */
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}
.imgin-2 {
  position: relative;
  width: 90%;
  /*  */
  background-size: contain;
  background-repeat: no-repeat;
  /* bottom: 10%; */
  /* mix-blend-mode: screen; */
  z-index: 6;
  filter: brightness(100%);
  /* filter: brightness(120%) saturate(150%); */
}
.last-background {
  height: 100vh;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.busyo_ex {
  position: relative;
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.busyo_name {
  font-family: "Bungee Inline";
  font-size: var(--text_size_ex_large);
  color: #ffffff;
  text-shadow: 0px 0px 2px #ffffff;
  text-align: center;
}

.last-button {
  position: relative;
  z-index: 7;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8%;
}

.retry-button {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #c882ff;
}

.twitter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90px;
  height: 90px;
  /* background-color: #c4da57; */
}
.twitter-img {
  position: absolute;
  z-index: 1;
  width: 60%;
}
.twitter-text {
  position: absolute;
  z-index: 2;
  font-family: "Bungee Inline";
  font-size: var(--text_size_medium);
  color: #00b2ff;
  text-shadow: 0px 0.636925px 6.36925px #0066ff;
}
.twitter-link {
  text-decoration: none;
}
.retry-text {
  position: absolute;
  z-index: 2;
  font-family: "Bungee Inline";
  font-size: var(--text_size_medium);
  color: #26ff02;
  text-shadow: 0px 0.636925px 6.36925px #26ff02;
}
.retry-img {
  position: absolute;
  z-index: 1;
  width: 80%;
}

.busyo-and-button {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  width: 100%;
}

.img-name-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
